{
  "bracketSpacing": false,
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "semi": false,
        "trailingComma": "all",
        "parser": "typescript"
      }
    }
  ],
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[@/]",
    "^[./]"
  ],
  "plugins": ["prettier-plugin-tailwindcss"]
}
